{% for network in country_networks %}
[Route]
Destination={{ network.with_prefixlen }}{% if via %}
Gateway={{ via }}{% endif %}{% if type %}
Type={{ type }}{% endif %}{% if table %}
Table={{ table }}{% endif %}
{% endfor %}
